<h2 id="title">Yo Dummy!</h2>

<p>The <span class="church-name">{{attrs.church.name}}</span> wants you to be
<span class="church-message">{{attrs.church.message}}</span>!</p>

<p>So says <span class="person">{{attrs.person}}</span>!</p>

<p>You are being monitored by <span class="person">{{attrs.church.conspiracies.monitoredBy}}</span>!</p>

{{outlet}}
