<h2 id="title">Yo Dummy!</h2>

<p>
  The <span class="church-name">{{options.church.name}}</span> wants you to be
  <span class="church-message">{{options.church.message}}</span>!
</p>

<p>So says <span class="person">{{options.person}}</span>!</p>

<p>You are being monitored by <span class="church-conspiracies-monitor-by">{{options.church.conspiracies.monitoredBy}}</span>!</p>

{{outlet}}
